CREATE DATABASE [Sur]
USE Sur	
CREATE TABLE [dbo].[CALLE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [varchar](50) NULL,
	[Colonia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](10) NULL,
	[Calle] [int] NULL,
	[num] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COLONIA]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLONIA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Colonia] [varchar](50) NULL,
	[Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NULL,
	[CostoPZ] [smallmoney] NULL,
	[Provedor] [int] NULL,
	[Sucursal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NULL,
	[Zona] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Puesto] [int] NULL,
	[Salario] [smallmoney] NULL,
	[Fechaingreso] [date] NULL,
	[Sucursal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[Marca] [varchar](50) NULL,
	[Precio] [smallmoney] NULL,
	[Provedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOSEXIST]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOSEXIST](
	[Producto] [int] NULL,
	[Catidad] [int] NULL,
	[Sucursal] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOSVENDIDOS]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOSVENDIDOS](
	[Venta] [int] NULL,
	[Cantidad] [int] NULL,
	[Producto] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVEDOR]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEDOR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Calle] [int] NULL,
	[Num] [int] NULL,
	[Telefono] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUESTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](10) NULL,
	[Calle] [int] NULL,
	[Num] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [int] NULL,
	[Vendedor] [int] NULL,
	[Fecha] [date] NULL,
	[Sucursal] [int] NULL,
	[Detalles] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 05/05/2020 03:15:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZONA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CALLE]  WITH CHECK ADD FOREIGN KEY([Colonia])
REFERENCES [dbo].[COLONIA] ([id])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([Calle])
REFERENCES [dbo].[CALLE] ([id])
GO
ALTER TABLE [dbo].[COLONIA]  WITH CHECK ADD FOREIGN KEY([Estado])
REFERENCES [dbo].[ESTADO] ([id])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([Provedor])
REFERENCES [dbo].[PROVEDOR] ([id])
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD FOREIGN KEY([Sucursal])
REFERENCES [dbo].[SUCURSAL] ([id])
GO
ALTER TABLE [dbo].[ESTADO]  WITH CHECK ADD FOREIGN KEY([Zona])
REFERENCES [dbo].[ZONA] ([id])
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD FOREIGN KEY([Puesto])
REFERENCES [dbo].[PUESTO] ([id])
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD FOREIGN KEY([Sucursal])
REFERENCES [dbo].[SUCURSAL] ([id])
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([Provedor])
REFERENCES [dbo].[PROVEDOR] ([id])
GO
ALTER TABLE [dbo].[PRODUCTOSEXIST]  WITH CHECK ADD FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTOS] ([id])
GO
ALTER TABLE [dbo].[PRODUCTOSEXIST]  WITH CHECK ADD FOREIGN KEY([Sucursal])
REFERENCES [dbo].[SUCURSAL] ([id])
GO
ALTER TABLE [dbo].[PRODUCTOSVENDIDOS]  WITH CHECK ADD FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTOS] ([id])
GO
ALTER TABLE [dbo].[PRODUCTOSVENDIDOS]  WITH CHECK ADD FOREIGN KEY([Venta])
REFERENCES [dbo].[VENTAS] ([id])
GO
ALTER TABLE [dbo].[PROVEDOR]  WITH CHECK ADD FOREIGN KEY([Calle])
REFERENCES [dbo].[CALLE] ([id])
GO
ALTER TABLE [dbo].[SUCURSAL]  WITH CHECK ADD FOREIGN KEY([Calle])
REFERENCES [dbo].[CALLE] ([id])
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([id])
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([Sucursal])
REFERENCES [dbo].[SUCURSAL] ([id])
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([Vendedor])
REFERENCES [dbo].[PERSONAL] ([id])
GO
USE [master]
GO
